    <br>
    <form action="/quizes/answer" method="get">
        <p> Pregunta: <%= pregunta %> </p>
        <br>
        <input type="text" name="respuesta" placeholder="Responda aquí" autofocus/>
        <input type="submit" value="Enviar">
    </form>

